body {
  
}

.content {
  background-color: #f8fafc;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 20px;
  font-weight: 500;
}

h2 {
  font-size: 16px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  row-gap: 30px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.header h1 {

}

input {
  min-width: 400px;
  background-color: #F3F3F5;
  padding: 16px;
  border-radius: 10px;
}

.error {
  color: red;
}

.auth-btn {
  min-width: 100%;
  padding: 14px;
  color: white;
  background-color: #030213;
  border-radius: 10px;
}

p {
  font-size: 16px;
}

.stateBtn {
  cursor: pointer;
  color: #2b7fff;
}

img {
  width: 70px;
}