@import url("./shared/styles/reset.css");
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

body {
  font-family: 'Roboto', sans-serif;
}

html {
  scrollbar-gutter: stable;
}

html.modal-open {
  background-color: rgba(15, 23, 42, 0.8);
  scrollbar-gutter: auto;
}

/* 
@media (max-width: 800px) {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }
} */
